<app-header></app-header>

<div class="displayFlex">
  <div class="mainBlok">
    <div class="column center">
      <a [routerLink]="['/admin/change-user']">Upraviť použivateľa</a>
      <a [routerLink]="['/admin/change-cemetery']">Upraviť cintorín</a>
      <a [routerLink]="['/admin/change-soldier']">Upraviť vojaka</a>
      <a [routerLink]="['/admin/change-battle']">Upraviť boj</a>
      <a [routerLink]="['/admin/change-war-camp']">Upraviť zajatecký tábor</a>
      <a [routerLink]="['/admin/change-memorial']">Upraviť pamätník</a>
    </div>
  </div>
</div>

<app-footer></app-footer>
