
  <div  *ngIf="appState$ | async as appState" class="mainBlok">
    <p>Vítam vás na portáli prva-svetova-vojna.sk</p>
<p>Ako už iste názov napovedá budeme sa na tejto stránke zaoberať tématikou prvej svetovej vojny na Slovensku</p>
<p>Cieľom tohto bakalárskeho projektu je vytvoriť miesto pre vkladanie a následne zobrazenie informácii tykajúcich sa prvej svetovej vojny.</p>
<p>Územie Slovenskej republiky má bohatú históriu. V dobe prvej svetovej vojny bolo naše územie súčasťou Rakúsko-Uhorska. Bola to jedna z najvýznamnejších mocností prvej svetovej vojny. Na našom území sa odohrali významne vojenské operácie a veľa mužov, vojakov zo Slovenska bolo nútených narukovať do armády. Nanešťastie veľa z nich sa už domov nevrátilo. Zaspomínajme si na mená týchto hrdinov. Zaznamenajme spolu miesta ich posledného boja a posledného odpočinku.</p>

<button [routerLink]="['/history']" class="centerButton" mat-raised-button color="primary">Chcem vedieť viac</button>

</div>


