.mainBlok{
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: white;
  padding: 50px;
  font-size: large;
  border: 1px solid #009999;
}

.centerButton{
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

