.mainForm{
    size: 1205px;
    height: 850px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 0;
}

.buttonBlack{
    margin-right: 70px;
    margin-top: 50px;
}

.forgottenPasswordForm{
    background-color: #0B0C10;
    border: 2px solid #45A29E;
    border-radius: 15px;
    height: 300px;
    width: 350px;
}

.forgottenPasswordForm label{
    font-size: 50px;
}

.forgottenPasswordForm input{
    text-align: center;
    font-size: 25px;
}