.leftPart {
    margin: 20px 0px 20px 0px;
    width: 50%;
}

.rightPart {
    margin: 20px;
}

.product {
    display: flex;
    border: 2px solid #45A29E;
    background-color: #0B0C10;
}

.functionalPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewPart {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewPart p{
    font-weight: bold;
}

.recommendations {
    background-color: #1F2833;
    border: 2px solid #45A29E;
    width: -webkit-fill-available;
    border-radius: 15px;
}

.recommendations img {
    width: 200px;
    height: 200px;
    border-radius: 0px;
    margin-top: 40px;
}

.recommendations h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product figure:not(.main-img) {
    display: none;
}

#galleryRow {
    display: flex;
    align-items: center;
}

.lightbox img {
    max-width: -webkit-fill-available;
}
