
<app-header></app-header>

<div class="displayFlex">
  <div class="mainBlok">
    <h1>Mapa Európy</h1>
    <p>Ríše padajú a mapy sa menia. Na obrázku môžeme vidieť ako sa zmenila mapa Európy zásluhou prvej svetovej vojny. Najdôležitejšou zmenou pre nás ako Slovákov bolo samozrejme vytvorenie samostatného Česko-Slovenska. Na mape môžeme taktiež vidieť zánik Rakúsko-Uhorska, Ruskej ríše, Nemeckej ríše, avšakaj vznik Juhoslávie. Podobne môžeme vidieť obrovskú zmenu mapy Európy za veľmi krátky čas.</p>
    <img loading="lazy" class="image" src="../../../assets/img/europe-map.png" alt="image of europe">
  </div>
</div>


<app-footer></app-footer>
