<app-header></app-header>

<div class="displayFlex">
  <div class="middle">
    <div>
      <p><img class="floatRight" src="../../../assets/img/profilova-fotka.jpg" alt="photoOfAuthor" width="100px" height="100px">
        Moje meno je Peter Plevko. Momentálne som študentom 3 ročníka na STU FIIT.</p>
        <p>Táto web stránka je mojou bakalárskou prácou.</p>
        <p>Názov práce: Bojové pole</p>
        <p>Vedúci práce: Ing. Bystrik Bindas</p>
        <p>Telefón: +421 908 263 517</p>
        <p>E-mail: pplevko@gmail.com</p>
    </div>

    <div class="links">
      <a href="https://www.linkedin.com/in/peter-plevko-0247a919b/">
        <img src="../../../assets/img/linkedin-icon.jpg" alt="linkedInIcon" width="50px" height="50px">
      </a>

      <a href="https://github.com/PeterPlevko/Bakalarska-praca">
        <img src="../../../assets/img/github-icon.png" alt="githubIcon" width="50px" height="50px">
      </a>

      <a href="mailto:pplevko@gmail.com"><img src="../../../assets/img/gmail-icon.png"  width="50px" height="50px"></a>

      <a href="https://twitter.com/PeterPlevko">
        <img src="../../../assets/img/twitter-logo.png" alt="githubIcon" width="50px" height="50px">
      </a>

    </div>

  </div>
</div>


<app-footer></app-footer>
