@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .spacing {
        flex-direction: column;
        align-items: center;
    }
    .spacing label {
        width: -webkit-fill-available;
        text-align: center !important;
    }
    input[type=radio] {
        transform: scale(1.8);
    }
    legend {
        font-size: 40px;
    }
    label, input {
        font-size: 30px;
    }
    .infoAboutDelivery {
        flex-direction: column;
    }
    .infoAboutDelivery div {
        width: 100% !important;
        margin: 0 !important;
    }
    .functionalPart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .functionalPart * {
        width: 80%;
        font-size: 30px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}