<app-header></app-header>

<div class="mainBlok">
  <div class="displayFlex">
    <h1>Klikni na informáciu ktorú chceš pridať</h1>
    <button class="button" [routerLink]="['/addinformation/cemetery']"  mat-raised-button color="primary">Cintorín</button>
    <button class="button" [routerLink]="['/addinformation/battle']"  mat-raised-button color="primary">Boj</button>
    <button class="button" [routerLink]="['/addinformation/memorial']"  mat-raised-button color="primary">Pamätník</button>
    <button class="button" [routerLink]="['/addinformation/warCamp']"  mat-raised-button color="primary">Zajatecký tábor</button>
    <button class="button" [routerLink]="['/addinformation/soldier']"  mat-raised-button color="primary">Vojak</button>
  </div>
</div>




<app-footer></app-footer>
