.middle{
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 41%;
  background-color: white;
  padding: 10px;
  font-size: large;
  padding: 20px;
  border: 1px solid #009999;
  min-height: 100px;
  margin-bottom: 100px;
}

h1 {
  text-align:center;
}

h2 {
  text-align:center;
}
