<app-header></app-header>

<div class="displayFlex">
  <div class="mainBlokBigger">
    <h1>Klikni na mapu pre vlozenie GPS suradnic, GPS: {{currentGPS}}</h1>
    <div class="displayFlex">
      <div id="slovakiaMapMemorial"></div>
    </div>
  </div>
</div>


<div class="displayFlex">
  <div class="mainBlok">

    <form [formGroup]="memorialForm" class="column leftSideForm" (submit)="submit()">

      <label for="name">Názov pamätníka</label><br>
      <mat-form-field id="name" appearance="fill">
        <mat-label>Vlož názov pamätníka</mat-label>
        <input placeholder="Pomník padlým v I. a II. svetovej vojne, Košické Olšany" matInput formControlName="name">
      </mat-form-field>

        <label for="GPS">GPS</label><br>
        <mat-form-field id="GPS" appearance="fill">
          <mat-label>Vlož GPS súradnice</mat-label>
          <input pattern="^[-]?([1-8]?\d(\.\d+)?|90(\.0+)?) \s*[-]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$" placeholder="48.733179 21.346886" matInput formControlName="GPS">
        </mat-form-field>

        <label for="municipalityDescription">Popis obce</label><br>
        <mat-form-field id="municipalityDescription" appearance="fill">
          <mat-label>Vloz popis obce</mat-label>
          <textarea matInput placeholder="Obec leží v Košickej kotline v doline Torysy v okrese Košice okolie v Košickom samosprávnom kraji. Prvá písomná zmienka o obci pochádza z roku 1288 a v súčasnosti tu žije asi 1300 obyvateľov." formControlName="municipalityDescription"></textarea>
        </mat-form-field>

        <label for="location">Poloha pamätníka</label><br>
        <mat-form-field id="location" appearance="fill">
          <mat-label>Vlož polohu pamätníka</mat-label>
          <textarea matInput placeholder="Pomník sa nachádza neďaleko domu smútku na miestnom cintoríne." formControlName="location"></textarea>
        </mat-form-field>

        <label for="photoDescription">Popis fotky</label><br>
        <mat-form-field id="photoDescription" appearance="fill">
          <mat-label>Vlož popis fotky</mat-label>
          <textarea matInput placeholder="Na snímke je pomník padlým vojakom v I. a II. svetovej vojne, na ktorom figuruje 11 mien padlých vojakov v I. a 4 mená padlých v II. svetovej vojne. Pomník odhalili z iniciatívy starostu obce Slavomíra Horvátha v roku 2017. Tvorí ho veľký balvan z miestneho kameňolomu, na ktorý je pripevnená tabuľa s menami padlých vojakov." formControlName="photoDescription"></textarea>
        </mat-form-field>

        <label for="deceased">Celé meno vojaka</label><br>
        <div class="row">
          <mat-icon class="tooltip" matTooltip="Ak informáciu nepoznáte vložte '-'">info</mat-icon>
          <mat-form-field id="deceased" appearance="fill">
            <mat-label>Vlož celé meno vojaka</mat-label>
            <input placeholder="Juraj Behún" matInput formControlName="deceased">
          </mat-form-field>
          <button mat-raised-button
          class="marginRight buttonStyle battleButton"
          color="primary"
          (click)="addDeceased()"
          type="button">Pridať</button>
        </div>

        <label for="dateOfBirth">Dátum narodenia</label><br>
        <div class="row">
          <mat-icon class="tooltip" matTooltip="Ak informáciu nepoznáte vložte '-'">info</mat-icon>
          <mat-form-field id="dateOfBirth" appearance="fill">
            <mat-label>Vlož dátum narodenia</mat-label>
            <input placeholder="2/5/1874" matInput formControlName="dateOfBirth">
          </mat-form-field>
          <button mat-raised-button
          class="marginRight buttonStyle battleButton"
          color="primary"
          (click)="addBirthDate()"
          type="button">Pridať</button>
        </div>

        <label for="dateOfDeath">Dátum úmrtia</label><br>
        <div class="row">
          <mat-icon class="tooltip" matTooltip="Ak informáciu nepoznáte vložte '-'">info</mat-icon>
          <mat-form-field id="dateOfDeath" appearance="fill">
            <mat-label>Vlož dátum úmrtia</mat-label>
            <input placeholder="1/7/1915" matInput formControlName="dateOfDeath">
          </mat-form-field>
          <button mat-raised-button
          class="marginRight buttonStyle battleButton"
          color="primary"
          (click)="addDateOfDeath()"
          type="button">Pridať</button>
        </div>

        <input type="file" class="file-input" accept="image/png, image/jpeg"
         (change)="onFileSelected($event)" #fileUpload>

        <div [ngClass]="{'redText': fileFlag}" class="file-upload">
          {{fileName || "Zatiaľ si nepridal súbor *povinné"}}
            <button type="button" mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>

      <div>
        <button mat-raised-button
        [disabled]="!memorialForm.valid"
        class="marginRight buttonStyle"
        color="primary"
        type="submit">Odoslať</button>
      </div>

    </form>
  </div>
</div>

<app-footer></app-footer>
