.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

p{
  font-size: 20px;
}

button{
  background-color: #ec6602;
  font-size: 20px;
}

button:hover{
  color: white;
}
