:host {
  display: block;
  min-height: 94vh;
  margin-top:50px;
}

mwc-textfield, mwc-select,  mwc-button {
  margin: 1ex;
  display: block;
}

.duration-slider {
  display: flex;
  align-content: space-around;
}

.duration-slider .label {
  flex: 0 0 auto;
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  color: var(--mdc-text-field-label-ink-color, rgba(0, 0, 0, 1));
  font-family: Roboto;
  align-self: center;
}

mwc-slider {
  display: inline-block;
  flex: 1 1 auto;
  min-width: 30ex;
}

mwc-button#cancel{
 --mdc-theme-primary: black;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.stretch-fill {
  flex: 10 0 0;
}

mwc-textfield {
  --mdc-theme-primary: red;
}

mwc-button#confirm {
  --mdc-theme-primary: green;
}

mwc-button#delete {
  --mdc-theme-primary: red;
}

.already-exists{
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: red;
}
